.container {
    font-family: lato, sans-serif;
    background-color: gainsboro;
    margin: 0px auto;
    max-width: 800px;
}

@media (max-width: 767px) {
    .container {
        margin: 0px 4px;
    }
}